body{
    background-color: #5632D9;
    color: #BBC3F2;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 0 auto;
}
h1{
    font-family: 'Segoe UI';
    color: #BBA3FF;
    margin-left: 10px;
    padding-top: 30px;
    font-size: 52px;
}
form{
    display: flex;
    flex-direction: column;
    background-color:#724FD6;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    
}
input{
    border:none;
    border-radius: 5px;
    padding: 12px;
    background-color: #957BE0;
    font-size: 18px;
    color: #C3C9FF;
}
label{
    font-family: Calibri;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

select{
    border: none;
    border-radius: 5px;
    background-color: #947adf;
    padding: 10px 20px 10px 10px;
    color: #C3C9FF;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
}
p{
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    margin-top: 0;
}
button{
    background-color: #FFD15B;
    padding:5px;
    color: #6238C7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    body{
        margin: 0;
    }
    .form-wrapper{
        width: 80vw;
    }
    h1{
        padding-top: 10px;
        font-size: 34px;
    }
    label{
        font-size: 12px;
    }

  }
